"abstract", "as", "base", "break", "case", "catch",
"checked", "class", "const", "continue", "default",
"delegate", "do", "else", "enum", "event", "explicit", 
"extern", "finally", "fixed", "for", "foreach", "goto",
"if", "implicit", "in", "interface", "internal", "is",
"lock", "namespace", "new", "null", "out", "override",
"params", "private", "protected", "public", "readonly",
"ref", "return", "sealed", "sizeof", "stackalloc", "static",
"struct", "switch", "this", "throw", "try", "typeof", "unchecked",
"unsafe", "using", "virtual", "volatile", "while", "add", "alias",
"and", "ascending", "async", "await", "by", "descending", "dynamic",
"equals", "from", "get", "global", "group", "init", "into", "join", 
"let", "managed", "nint", "not", "nuint", "on", "or", "orderby",
"partial", "record", "remove", "select", "set", "unmanaged",
"value", "var", "when", "where", "with", "yield",
"bool|", "byte|", "sbyte|", "char|", "decimal|", "double|",
"float|", "int|", "uint|", "long|", "ulong|", "short|", "ushort|",
"object|", "string|", "void|", "#if|", "#elif|", "#else|", "#endif|", "#define|",
"#undef|", "#warning|", "#error|", "#line|", "#pragma|", "#region|", "#endregion|", "#nullable|"
