"as", "break", "class", "continue", "do", "else",
"false", "for", "fun", "if", "in", "interface",
"is", "null", "object", "package", "return",
"super", "this", "throw", "true", "try", "typealias",
"typeof", "val", "var", "when", "while", "abstract",
"annotation", "by", "catch", "companion", "const",
"crossinline", "data", "dynamic", "external", 
"final", "finally", "get", "import", "infix", "init",
"inline", "inner", "internal", "lateinit", "noinline",
"open", "operator", "out", "override", "private",
"protected", "public", "reified", "sealed", "set",
"suspend", "tailrec", "vararg", "Int|", "Double|",
"Float|", "Long|", "Short|", "Byte|", "Char|", "Boolean|",
"String|", "Unit|"
