"ALL", "AND", "ANY", "AS", "ASC", "BETWEEN", "BY",
"CASE", "CHECK", "COLUMN", "COMMIT", "CREATE", "DELETE",
"DESC", "DISTINCT", "DROP", "EXISTS", "FOREIGN", "FROM",
"GROUP", "HAVING", "IN", "INSERT", "INTO", "IS", "JOIN",
"KEY", "LIKE", "LIMIT", "NOT", "NULL", "OR", "ORDER", 
"PRIMARY", "REFERENCES", "SELECT", "SET", "TABLE", "UNION",
"UPDATE", "VALUES", "VIEW", "WHERE", "INT|", "VARCHAR|",
"TEXT|", "DATE|", "DATETIME|", "BOOLEAN|", "FLOAT|", "DOUBLE|"
