"as", "associatedtype", "break", "case", "catch",
"class", "continue", "default", "defer", "deinit",
"do", "else", "enum", "extension", "fallthrough",
"for", "func", "guard", "if", "import", "in", "init",
"inout", "internal", "is", "let", "open", "operator", 
"private", "protocol", "public", "repeat", "rethrows", 
"return", "self", "static", "struct", "subscript", "super", 
"switch", "throw", "throws", "try", "typealias", "var", "where", "while",
"Int|", "Double|", "Float|", "String|", "Bool|", "Void|",
"false|", "true|", "nil|"
