"abstract", "as", "asserts", "await", "break", "case",
"catch", "class", "const", "continue", "debugger",
"declare", "default", "delete", "do", "else", "enum",
"export", "extends", "finally", "for", "from", "function",
"get", "if", "implements", "import", "in", "instanceof",
"interface", "keyof", "new", "out", "override", "private",
"protected", "public", "readonly", "return", "set", "static",
"super", "switch", "this", "throw", "try", "type", "typeof",
"var", "while", "with", "yield","any|", "boolean|", "never|",
"null|", "number|", "string|", "symbol|", "undefined|", "unknown|",
"void|","async|", "of|"
